@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap')

body,
html
	font-family: 'Roboto', sans-serif
	font-weight: 300
	background-color: #181111
	color: #cecece

h1, h2, h3
	font-weight: 700

a
	color: #cecece
	text-decoration: none
	&:hover
		color: #f3b840
	&.router-link-exact-active
		color: #ff7433

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
	-webkit-appearance: none
	margin: 0

*, *::before, *::after
	box-sizing: content-box
